<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderDailyFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date [%pid] [%X{server.REMOTE_ADDR}/%X{server.REMOTE_USER}] %r %-5p %c %M.%L %x - %m%n" />
        </layout>
        <param name="file" value="../logs/%s.log" />
	<param name="datePattern" value="Ymd" />
    </appender>
    <root>
        <level value="DEBUG" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>
