Options +FollowSymLinks
RewriteEngine On
RewriteRule ^contacts/([0-9]+)/groups/?$    contacts.php?id=$1&sub=groups        [QSA,L]
RewriteRule ^contacts/([0-9]+)/?$           contacts.php?id=$1                   [QSA,L]
RewriteRule ^contacts/?$                    contacts.php                         [QSA,L]
RewriteRule ^compta/([0-9]+)/?$             compta.php?id=$1                     [QSA,L]
RewriteRule ^compta/?$                      compta.php                           [QSA,L]
RewriteRule ^compta-types/?$                compta-types.php                     [QSA,L]
RewriteRule ^suivi/([0-9]+)/?$              suivi.php?id=$1                      [QSA,L]
RewriteRule ^suivi/?$                       suivi.php                            [QSA,L]
RewriteRule ^groups/([0-9]+)/members/?$     groups.php?id=$1&sub=members         [QSA,L]
RewriteRule ^groups/([0-9]+)/?$             groups.php?id=$1                     [QSA,L]
RewriteRule ^groups/?$                      groups.php                           [QSA,L]
RewriteRule ^segments/([0-9]+)/members/?$   segments.php?id=$1&sub=members       [QSA,L]
RewriteRule ^segments/([0-9]+)/?$           segments.php?id=$1                   [QSA,L]
RewriteRule ^segments/?$                    segments.php                         [QSA,L]
Require all granted
