Options +FollowSymLinks
RewriteEngine On
RewriteRule ^members/([0-9]+)/groups/?$     members.php?id=$1&sub=groups         [QSA,L]
RewriteRule ^members/([0-9]+)/?$            members.php?id=$1                    [QSA,L]
RewriteRule ^members/?$                     members.php                          [QSA,L]
RewriteRule ^compta/([0-9]+)/?$             compta.php?id=$1                     [QSA,L]
RewriteRule ^compta/?$                      compta.php                           [QSA,L]
RewriteRule ^compta-types/?$                compta-types.php                     [QSA,L]
RewriteRule ^suivi/([0-9]+)/?$              suivi.php?id=$1                      [QSA,L]
RewriteRule ^suivi/?$                       suivi.php                            [QSA,L]
RewriteRule ^groups/([0-9]+)/members/?$     groups.php?id=$1&sub=members         [QSA,L]
RewriteRule ^groups/([0-9]+)/?$             groups.php?id=$1                     [QSA,L]
RewriteRule ^groups/?$                      groups.php                           [QSA,L]
Require all granted
